API_PORT=8080
UNKNOWN_PAGE=https://www.google.com/search?q=this+is+a+404
HOST_NAME=http://localhost:8080/
AUTH_TOKEN=ThisIsA5uper$ecureAPIToken
DB_USERNAME=your-user
DB_PASSWORD=your-pun-chword
DB_NAME=pun_sho
DB_URL=something-somewhere-over-the-rainbow
DB_PORT=26257
DB_ADAPTOR=cockroach
QR_PNG_LOGO=./img/logo_df.png
SSL_MODE=full-verify
PUBLIC_ID_LENGTH=7
ALLOWED_SOCIAL_BOTS=facebookexternalhit,facebot,googlebot,linkedinbot,twitterbot,instagram,instagrambot,whatsapp,slackbot,telegrambot,discordbot,pinterestbot,redditbot,skypeuri,applebot,bingbot,yandexbot
