@font-face {
  font-family: 'Proxima Nova Alt';
  src:  url('../font/proxima_nova_alt_regular-webfont.eot');
  src:  url('../font/proxima_nova_alt_regular-webfont.eot#iefix') format('embedded-opentype'),
  url('../font/proxima_nova_alt_regular-webfont.ttf') format('truetype'),
  url('../font/proxima_nova_alt_regular-webfont.woff') format('woff'),
  url('../font/proxima_nova_alt_regular-webfont.svg##Proxima Nova Alt') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src:  url('../font/proxima_nova_alt_semibold-webfont.eot');
  src:  url('../font/proxima_nova_alt_semibold-webfont.eot#iefix') format('embedded-opentype'),
  url('../font/proxima_nova_alt_semibold-webfont.ttf') format('truetype'),
  url('../font/proxima_nova_alt_semibold-webfont.woff') format('woff'),
  url('../font/proxima_nova_alt_semibold-webfont.svg##Proxima Nova Alt') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src:  url('../font/proxima_nova_alt_bold-webfont.eot');
  src:  url('../font/proxima_nova_alt_bold-webfont.eot#iefix') format('embedded-opentype'),
  url('../font/proxima_nova_alt_bold-webfont.ttf') format('truetype'),
  url('../font/proxima_nova_alt_bold-webfont.woff') format('woff'),
  url('../font/proxima_nova_alt_bold-webfont.svg##Proxima Nova Alt') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
